[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.122.0",
    "librosa>=0.11.0",
    "pgvector>=0.4.1",
    "sqlmodel>=0.0.27",
    "uvicorn>=0.38.0",
]
